
/*--------------------------------------------------------------
# FILTERS: FacetWP Filters (fitya, tgc, ecodomisi, geo2arc)
--------------------------------------------------------------*/

/* sort panel */
#sort-panel {
	text-transform: uppercase;
    margin: 1rem;
}

.facetwp-counts, .facetwp-sort, .facetwp-selections {
	display: inline-block;
}

.facetwp-selections ul {
	margin: 0;
}

/* filter display pages */

.page-template-template-pagewitharticles article.page.hentry {
	width: 97.8%;
}

.facetwp-template {
	text-align: center;
}

/* titles */

.facet-title {
	position: relative;
	margin: 8px 0 2px 0;
    color: #404040;
    text-transform: uppercase;
    border-bottom: 1px solid #D8d8d8;
    font-weight: 400;
    height: 25px;
}


/* filters */

.facetwp-type-slider, 
.facetwp-type-dropdown,
.facetwp-facet-type,
.facetwp-facet-search {
	margin-bottom: 25px !important;
}

.facetwp-autocomplete {
	max-width: 96%;
}

/* Checkbox */

.facetwp-type-checkboxes:not(.facetwp-facet-type) {
	margin-bottom: 0 !important;
}

.facet-dropdown {
	margin-bottom: 15px;
}

.facet-dropdown .facet-title {
	cursor: pointer;
}

.facet-dropdown .facet-title:after {
	color: #adadad;
	position: absolute;
	right: 10px;
	top: 0;
}

.facet-dropdown .facet-title:not(.open):after {
	content: "+";
}
.facet-dropdown .facet-title.open:after {
	content: "-";
}


.facet-menu .facetwp-type-checkboxes {
	display: none;
}

.facet-menu .facetwp-type-checkboxes.active {
	display: block;
}

.facet-dropdown .facetwp-type-checkboxes > .facetwp-depth {
	margin-left: 0;
}

/* checkbox hierarchy */
.facetwp-checkbox.has-children {
	display: block !important;
    font-weight: bold;
    text-transform: uppercase;
}
.facetwp-depth .facetwp-depth {
	border-left: 1px dotted #adadad;
    padding-left: 5px;
}


/* slider */

.facetwp-type-slider .noUi-connect {
	/* background: #dedede; */
}

/* Select */

.facetwp-facet select,
.facetwp-sort select {
	display: block;
}

.facetwp-counter {
	display: none;
}


/* Checkbox */

.facetwp-type-checkboxes {
	max-height: initial !important;
}

.facetwp-depth {
	/* display: none; */
}

.facetwp-checkbox {
	background: none !important;
	padding-left: 0 !important;
}


/* checkbox not types */

.facetwp-facet:not(.facetwp-facet-type) .facetwp-checkbox {
	display: inline-block;
	padding: 4px 5px !important;
	margin-right: 3px;
	font-size: 0.85em;
    color: #777;
	
}

.facetwp-facet:not(.facetwp-facet-type) .facetwp-checkbox:hover,
.facetwp-facet:not(.facetwp-facet-type) .facetwp-checkbox.checked {
	color: #fff !important;
    background: #bdbdbd !important;
}
